
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="menu-inner-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<ul class="menu">
					<li><a href="" class="btn-menu active">Why choose MH?</a></li>
					<li><a href="" class="btn-menu">What can MH?</a></li>
					<li><a href="" class="btn-menu">Contacts</a></li>
				</ul>
			</div>
		</div>
		<div class="action-inner-wrap">
			<a href="" class="btn button-border js-popup-open" data-popup="popup-callback">start</a>
		</div>
		<div class="action-lang-wrap popup-lang-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-toggle js-btn-popup-toggle">En</a>
			<div class="popup-content-block js-popup-block">
				<ul>
					<li><a href="" class="btn-lang">RU</a></li>
					<li><a href="" class="btn-lang active">EN</a></li>
					<li><a href="" class="btn-lang">DE</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<!-- /header -->